[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
	ignore = dirty
[submodule "powerlevel10k"]
	path = powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
	ignore = dirty
[submodule "xkblayout-state"]
	path = xkblayout-state
	url = git@github.com:nonpop/xkblayout-state.git
